{{ define "main404" }}

<div class="notfound-container">
    <h1 class="notfound-title">404 Page not found</h1>
    <p class="notfound-desc">But here are a few books with the same message in the title.</p>
    <a href="/" class="notfound-back">Back Home</a>
    <div class="notfound-list">
        <div class="notfound-item">
            <div class="notfound-img"></div>
            <div class="notfound-book-title">Book name</div>
            <div class="notfound-book-author">Author name</div>
        </div>
        <div class="notfound-item">
            <div class="notfound-img"></div>
            <div class="notfound-book-title">Book name</div>
            <div class="notfound-book-author">Author name</div>
        </div>
        <div class="notfound-item">
            <div class="notfound-img"></div>
            <div class="notfound-book-title">Book name</div>
            <div class="notfound-book-author">Author name</div>
        </div>
        <div class="notfound-item">
            <div class="notfound-img"></div>
            <div class="notfound-book-title">Book name</div>
            <div class="notfound-book-author">Author name</div>
        </div>
    </div>
</div>

{{ end }} 